.input__box{
    border-bottom: 1px solid #ced4da;
    padding-top: 20px;
    padding-bottom: 50px;
    width: 93%;
}

@media screen and (max-width: 540px) {
    .input__box {
        flex-direction: column;
        padding-bottom: 20px;
        align-items: center;
    }
}

