@import url(__box/input__box.css);
@import url(__item/input__item.css);
@import url(__text/input__text.css);

.input-text {
    padding: 5px 60px 5px 30px;
    background-color: #bfd6f2;
}

.input-1{
    margin-left: 20px;
}

@media screen and (max-width: 540px) {
    .input__enter.form-control {
        width: 75%;
    }
}



