@import url(__container/checkbox__container.css);

.checkbox{
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
}


@media screen and (max-width: 770px) {
    .checkbox {
        width: 95%;
    }
}

@media screen and (max-width: 540px) {
    .checkbox {
        flex-direction: column;
        align-items: center;
    }
}
