.description__list{
    list-style-type: none;
    width: 90%;
    text-align: left;
}
.description__list li::before {
    content: "\2022";
    color: #4a8dd7;
    font-weight: bold;
    display: inline-block;
    width: 1em;
}
@media screen and (max-width: 540px) {
    .description__list {
        padding: 0;
        width: 100%;
    }
}


