@import "bootstrap.min.css";
@import url(../blocks/page/page.css);
@import url(../blocks/select/select.css);
@import url(../blocks/table/table.css);
@import url(../blocks/video/video.css);
@import url(../blocks/input/input.css);
@import url(../blocks/description/description.css);
@import url(../blocks/checkbox/checkbox.css);


.label-form {
    display: inline-block;
    margin-bottom: .5rem;
}

.title__forms {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.button {
    background-color: #4a8dd7;
}